<div class="new-page">
  <form class="new-page-form" action="/memos" method="post">
    <div class="new-page-input-tite">
      <label class="new-page-input-tite__label new-page-input-label">タイトル</label>
      <input class="new-page-input-tite__item" type="text" name="title">
    </div>
    <div class="new-page-input-content">
      <label class="new-page-input-content__label new-page-input-label">内容</label>
      <textarea class="new-page-input-content__item" name="content"></textarea>
    </div>
    <div class="new-page-submit">
      <button class="new-page-submit__button" type="submit">保存</button>
    </div>
  </form>
</div>
