<div class="new-page">
  <form class="new-page-form" action="/memos" method="post">
    <div class="new-page-input-tite">
      <label class="new-page-input-tite__label new-page-input-label" for="new-page-title">タイトル</label>
      <input class="new-page-input-tite__item" type="text" name="title" id="new-page-title" value="" required="required">
    </div>
    <div class="new-page-input-content">
      <label class="new-page-input-content__label new-page-input-label" for="new-page-content">内容</label>
      <textarea class="new-page-input-content__item" name="content" id="new-page-content"></textarea>
    </div>
    <div class="new-page-submit">
      <button class="new-page-submit__button" type="submit">保存</button>
    </div>
  </form>
</div>
