<div class="show-page">
  <h2 class="show-page-title"><%= h(@memo.title) %></h2>
  <p class="show-page-content"><%= h(@memo.content).gsub(/\n/,"<br>") %></p>
  <div class="show-page-link">
    <a class="show-page-new-link__edit show-page-button" href="/memos/<%= @memo.id %>/edit">編集</a>
    <form action="/memos/<%= @memo.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button class="show-page-new-link__delete show-page-button" type="submit">削除</button>
    </form>
  </div>
</div>
