<div class="show-page">
  <h2 class="show-page-title">Title</h2>
  <p class="show-page-content">test<br>testeteste</p>
  <div class="show-page-link">
    <a class="show-page-new-link__edit show-page-button" href="">編集</a>
    <a class="show-page-new-link__delete show-page-button" href="">削除</a>
  </div>
</div>
